[submodule "Pros projects/Tahera_Project/LEMLib"]
	path = Pros projects/Tahera_Project/LEMLib
	url = https://github.com/LEMLib/LEMLib.git
[submodule "Pros projects/Auton_Planner_PROS/LEMLib"]
	path = Pros projects/Auton_Planner_PROS/LEMLib
	url = https://github.com/LEMLib/LEMLib.git
[submodule "Pros projects/Image Selector/LEMLib"]
	path = Pros projects/Image Selector/LEMLib
	url = https://github.com/LEMLib/LEMLib.git
[submodule "Pros projects/Basic_Bonkers_PROS/LEMLib"]
	path = Pros projects/Basic_Bonkers_PROS/LEMLib
	url = https://github.com/LEMLib/LEMLib.git
